# Build Results
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
[Bb]in/
[Dd]ebug/
[Dd]ebugPublic/
[Ll]og/
[Ll]ogs/
[Oo]bj/
[Rr]elease/
[Rr]eleases/
[Ww][Ii][Nn]32/
bld/
x64/
x86/

# .NET Core
artifacts/
project.fragment.lock.json
project.lock.json

# JetBrains IDE Files
.idea/

# macOS
.AppleDouble
.DS_Store
.LSOverride

# MSBuild Binary and Structured Log
*.binlog

# NuGet Packages
*.nupkg
*.snupkg

# Others
*~
CodeCoverage/
~$*

# ReSharper
AshHillCreations.sln.DotSettings.user
AshHillCreations.DotSettings